<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ SITEURL }}">
        <img src="{{ SITEURL }}/theme/images/pixelocene_logo.png" height="24px" style="vertical-align: -10%" />
        {{ SITENAME }}
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            {% for title, link in MENUITEMS %}
                <li class="nav-item">
                    <a class="nav-link {% if pg == page %}active{% endif %}" href="{{ link }}">{{ title }}</a>
                </li>
            {% endfor %}

            {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li class="nav-item">
                        <a class="nav-link {% if pg == page %}active{% endif %}" href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                    <li class="nav-item">
                        <a class="nav-link {% if cat == category %}active{% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                    </li>
                {% endfor %}
            {% endif %}

        </ul>
      </div>
    </div>
  </nav>